
.nav  li {
  display: inline-block;
  text-decoration: none;
}
 .nav {
  display:inline-block;

}
a {
  color:#0000FF;
  padding: .5em .5em .5em .5em;
  text-decoration:none;
}
a:hover {
  color: #00CCFF;
}
a :active {
  color: #00CCFF;
}
a :visited {
  color: #0000FF;
}
body {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 1.5em;
  background-color: #ffffff;
}
.indie {
  font-family: 'Indie Flower', cursive;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
/********************************/

/** index.html**/
/*#content {
  background-color: #CCCCff;
  width:auto;
  height:auto;
  display: inline-block;
  padding: 2em 2em;
  margin: 10% 0 0 25%;
  border-radius: 5%;
}*/
.main-page {
  text-align: center;
  display: inline-flex;
}
.main-page h1  {
  color: #00ccff;
}
.left {
  display:inline;
/*  text-align:center;*/
  margin-left: 25%;
}
.main-bg {
  background-color: #ccccff;
    border-radius: 100%;
  width:400px;
  margin-left: auto;
  margin-right: auto;

}
.developer{
  margin-left: 20%;
}
.main {
  margin-left: 22%;
}
.secondary {
  margin-left: 12%;
}
.center {
  margin-left: 15%;
}
/*** index.html ***/

/******* bio.html *************/
#email-address  {
    text-align: center;
}
#college {
  display:inline-block;

}
#learned {
  display:inline-block;

}
#college h3 {
  text-align: center;
}
.resume {
    color: #00CCFF;
    margin-left:10%;
}
hr {

  width: 80%;
}
h1 {
  text-align : center;
  margin-left:0;
}
h4 {
  text-align: center;
}
#education p {
  text-align: left;
  margin-left: 10%;
}
#skills ul li {
  list-style-type: none;
}
.list-one {
  display:inline-block;
  text-align:left;
  margin-left:10%;
}
.list-two {
  display: inline-block;
  text-align: left;
  margin-left: 5%;
}
#skills {
  width: 100%;
  display: block;
}
#work {
  width: 100%;
  display:inline-block;

}
#work-experience h4 {
  display:inline;
  text-align:left;
  margin-left:10%;
}
#work-years h4 {
  display: inline;
  text-align: right;
  margin-left:60%;
}
#work-experience h3 {
  display:inline-block;
  text-align:left;
  margin-left:10%;
}
#work-years ul {
  display:inline-block;
  text-align: left;
  margin-left: 10%;
}
#work-experience ul li {
  display:inling-block;
  margin-left: 10%;
}
/*** end bio.html ***/

/*** contact.html ***/
#contact #first_name {
  margin-left: 5px;
}
#contact #last_name {
  margin-left: 7px;
}
#contact #phone_number {
  margin-left: 52px;
}
#contact #email_address {
  margin-left: 62px;
}
/*** about.html ***/
.about-name {
  display:inline-block;
  width: 40%;
  border:red dotted 1px;
}
.about-title {
  display: inline-block;
  width:30%;
  border:red dotted 1px;
}/*
.nav {
  display: inline-block;
  width: 40%;
  */
}
.about  {
  font-size: .5em;
  width: 30%;
}
.about-photo {
  display:inline-block;


}


}
