
.nav  li {
  display: inline-block;
  text-decoration: none;

}
a {
  color:#0000FF;
  padding: .5em .5em .5em .5em;
  text-decoration:none;
}
a:hover {
  color: #00CCFF;
}
a :active {
  color: #00CCFF;
}
a :visited {
  color: #0000FF;
}
body {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 1.5em;
  background-color: #ffffff;
}
.indie {
  font-family: 'Indie Flower', cursive;
}
/********************************/

/** index.html**/
/*#content {
  background-color: #CCCCff;
  width:auto;
  height:auto;
  display: inline-block;
  padding: 2em 2em;
  margin: 10% 0 0 25%;
  border-radius: 5%;
}*/
.main-page {
  text-align: center;
}
.main-page h1  {
  color: #00ccff;
}
.left {
  display:inline;
/*  text-align:center;*/
  margin-left: 40%;
}
/*** index.html ***/
/*** contact.html ***/
#contact #first_name {
  margin-left: 5px;
}
#contact #last_name {
  margin-left: 7px;
}
#contact #phone_number {
  margin-left: 52px;
}
#contact #email_address {
  margin-left: 62px;
}
